@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html {
    height: 100%;
}

body {
    margin: 0 auto;
    height: 100%;
    max-width: 30em;
  font-family: "Source Sans Pro", sans-serif;
    line-height: 1.5;
    padding: 4em 1em;
    color: rgba(255,255,255, 0.95);

    background: rgb(253,29,29);
background: linear-gradient(304deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 100%);
    font-size: 1.1em;
    animation: fadein 2s;
}
    
h1 {
    text-align: center;
    margin-top: 1em;
    padding-top: 1em;
}

h1,
h2,
strong {
  color: #fff;
  font-size: 50px;
}

a {
    color: rgba(255,255,255, 0.95);
}


@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.reti-fa {
    font-size: 1.3em;
}
.text-center {
    width:100%;
    text-align: center;
}
